<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lam.focastweathertravel">

    <!--Sử dụng trong custom dialog-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/weathers"
        android:label="ForecastWeather"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Obj_HumVsCom">
        </activity>
        <activity android:name=".Board_HumVsCom">
        </activity>
        <activity android:name=".Widget"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SaveFavourite">
        </activity>
        <activity android:name=".ThemePreviewAdapter">
        </activity>
        <activity android:name=".Setting">
        </activity>
        <service
            android:name=".BackgroundSoundService"
            android:enabled="true">
        </service>

        <activity android:name=".GetWeather">
        </activity>
        <activity android:name=".Location">
        </activity>
        <activity android:name=".InformationCompany">
        </activity>
        <activity android:name=".Information3Mien">
        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
